<!-- Describe task in general -->
<p style="text-align: justify;">
    Вам потрібно перевезти три порожні коробки, використовуючи дрон, який може піднімати лише одну коробку за один раз під час кожного рейсу. Іншими словами, ви завжди можете перевезти три порожні коробки, зробивши три рейси з дроном. Але ви можете зробити менше трьох рейсів, якщо зможете покласти одну коробку в іншу. Коробки мають форму куба, і єдиним обмеженням для розміщення однієї коробки всередині іншої є розмір, незалежно від ваги.
</p>

<p style="text-align: justify;">
    Коробка розміру X може бути поміщена в коробку розміру Y, якщо X &lt; Y. Зауважте, що одна коробка не поміщається в іншу такого ж розміру. Крім того, дві коробки розміром X і Y можуть бути розміщені поруч у коробці розміром Z, якщо (X+Y) &lt; Z.
</p>

<p style="text-align: justify;">
    Наступна схема ілюструє чотири можливі конфігурації, за яких дрон може здійснити поїздку.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}drone.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    У цій задачі розміри трьох коробок задано у зростаючому порядку, і ваша програма повинна обчислити мінімальну кількість рейсів, які може здійснити дрон, щоб перевезти всі три коробки.
</p>


<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Три цілих числа <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

