<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<!-- Describe task in general -->
<p style="text-align: justify;">
    You need to transport three empty boxes using a drone that can only lift one box at a time on each trip. In other words, you can always transport the three empty boxes by making three trips with the drone. But you might be able to do less than three trips if you can put one box inside another. The boxes are cube-shaped and the only restriction on placing one box inside another is size, regardless of weight.
</p>

<p style="text-align: justify;">
    A box of size X can be placed inside a box of size Y if X < Y. Note, therefore, that a box does not fit inside another of the same size. Furthermore, two boxes of sizes X and Y can be placed side by side inside a box of size Z if (X+Y) < Z.
</p>

<p style="text-align: justify;">
    The following scheme illustrates the four possible configurations for the drone to make a trip.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}drone.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    In this problem, the sizes of the three boxes are given in ascending order and your program must compute the minimum number of trips the drone can make to transport all three boxes.
</p>


<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Three integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Integer.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

